@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
html{
    height: 100%;
    font-family: "Poppins", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    font-family: sans-serif;
    cursor: url('img/espada.png'), auto;
}

.content{
    min-height: 80px;
    background-image: linear-gradient(to top, #f9d423  0%, #e14fad 100%);
}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    transition: all .7s ease-out;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #DEDEDEDE;
    display: block;
    font-weight: bold;
}
.menu .navbar ul li a:hover{
    color: #ffffff;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.summer{
    padding-top: 15vh ;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.summer__title{
    font-family: cursive;
    font-size: 45px;
}
.summer__paragraph{
    font-family: cursive;
    font-size: 1.7rem;
    margin: 15px auto;
}
footer{
    margin-top: auto;
    padding: 3rem;
    background-color: #222;
    color: white;
}
footer section{
    float: right;
}
footer p{
    margin: 0;
}
footer a{
    transition: color  0.3s ease;
    color: #fff;
    text-decoration: none;
}
footer a:hover{

    color:darkslateblue;
}
