
html{
    height: 100%;
    font-family: "Roboto Mono", monospace;
}



 body{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
} 
.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: auto;
}

.content{
    min-height: 80px;
    background-image: linear-gradient(to top, #f9d423  0%, #e14fad 100%);
}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li{
    text-decoration: none;
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    color: #DEDEDEDE;
    font-weight: bold;
}
.menu .navbar ul li a:hover{
    color: #ffffff;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}
/* C O N T E N I D O */
h1{
    font-size: 3rem;
}

header{
    background: linear-gradient(
        90deg,
        rgba(203,18,133,1)0%,
        rgba(80,49,145,1) 70%
    );
    color: white;
    padding: 2rem 3rem;
}
header h1{
    font-size: 4rem;
    text-align: center;
}
header h1{
    font-size: 4rem;
    text-align: center;
}
/* M E N U */
.menuses{
    width: 400px;
    margin: 0 auto;
}
section article{
    transition: box-shadow 0.4s ease;
    background-color: #fff;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: auto;
    cursor: pointer;
    transition: all .7s ease-out;
}
section article:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
    transform: translateX(7%) translateY(3%);
}
section article h2, section article p{
    margin: 1rem;
}
table{
    border: 1px solid black;
}
footer{
    margin-top: auto;
    background-color: #222;
    padding: 3rem;
    color: white;

}
footer section{
    float: right;
}
footer p{
    margin: 0;
}
footer a{
    transition: color  0.3s ease;
    color: #fff;
    text-decoration: none;
}
footer a:hover{

    color:darkslateblue;
}
