html{
    height: 100%;
}
*{
    font-family: "Roboto Mono", monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;

}

.content{
    min-height: 80px;
    background-image: linear-gradient(to top, #f9d423  0%, #e14fad 100%);
}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #DEDEDEDE;
    display: block;
    font-weight: bold;
}
.menu .navbar ul li a:hover{
    color: #ffffff;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.delivery{
    font-size: 2rem;
    display: flex;
}
.text{
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    animation:  text 2s ease-out 1 alternate;
}
@keyframes text{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.001);
    }
}
.carro{
    width: 350px;
    object-fit: scale-down;
    filter: drop-shadow(4px 4px 8px #556);
    animation:  car 2s ease-out 1 alternate;
}
@keyframes car{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.001);
    }
}
.otnei{
    height: 350px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 10px 7px 10px rgba(0, 0, 0, 0.671);
    animation:  nei 2s ease-out 1 alternate;
}
@keyframes nei{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.001);
    }
}

.pedimiento{
    font-size: 2rem;
    display:flex ;
}
footer{
    margin-top: auto;
    background-color: #222;
    padding: 3rem;
    color: white;
}
footer section{
    float: right;
}
footer p{
    margin: 0;
}
footer a{
    transition: color  0.3s ease;
    color: #fff;
    text-decoration: none;
}
footer a:hover{
    cursor: pointer;
    color:darkslateblue;
}